.search__widget {
  border: 1px solid #fde4e4;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
}

.data_widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  cursor: pointer;
  outline: none;
}
.search__widget input {
  border: none;
  outline: none;
}
