.logo {
  margin-top: 10px;
  text-align: center;
}
.logo img {
  width: calc(100% -60%);
  object-fit: contain;
}
.logo h5 {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  margin-top: 5px;
  margin-bottom: 0;
}

.menu a {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  transition: 0.3s;
}

.menu a:hover {
  color: #df2020;
}

.active__menu {
  color: #df2020 !important;
}
.cart__icon i,
.user i,
.mobile__menu i {
  font-size: 1.2rem;
  color: #212245;
  cursor: pointer;
}
.cart__badge {
  position: relative;
  top: -20px;
  right: 10px;
padding: 2px;
  align-items: center;
  top: -15px;
  right: 5px;
  background-color: #df2020;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: small;
  justify-content: center;
}
